<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ausn.user.dao.UserFollowDao">
    <select id="getAuthorIds" resultType="Long">
        select author_id from pilipili_db.user_follows where follower_id=#{followerId}
    </select>
</mapper>