<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ausn.pilipili.dao.VideoCoinDao">
    <insert id="save">
        insert into video_coins (bv,userId,coinNum,putDate) values(#{bv},#{userId},#{coinNum},#{putDate});
    </insert>

    <delete id="delete">
        delete from video_coins where bv=#{bv} and userId=#{userId} and putDate=#{putDate}
    </delete>

    <select id="getByBvAndUserId" resultType="VideoCoin">
        select * from video_coins where bv=#{bv} and userId=#{userId}
    </select>

    <select id="getLatestByBvAndUserId" resultType="VideoCoin">
        select * from video_coins where bv=#{bv} and userId=#{userId} order by putDate desc limit 1
    </select>

    <select id="getByBv" resultType="VideoCoin">
        select * from video_coins where bv=#{bv}
    </select>

    <update id="update">
        update video_coins
        <set>
            bv=#{bv},
            userId=#{userId},
            coinNum=#{coinNum},
            putDate=#{putDate}
        </set>
        <where>
            id=#{id}
        </where>
    </update>

</mapper>