<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ausn.video.dao.VideoDao">

    <select id="getByBv" resultType="Video">
        select * from videos where bv=#{bv}
    </select>

    <select id="getByAuthorId" resultType="Video">
        select * from videos where authorId=#{authorId}
    </select>


    <!--TODO 算法复杂度太高，之后要改进 -->
    <select id="getRandomly" resultType="Video">
        select * from videos order by rand() limit 50
    </select>

    <update id="updateViewNumByBv">
        update videos set viewNum=viewNum+#{num} where bv=#{bv}
    </update>

    <update id="updateBulletScreenNumByBv">
        update videos set bulletScreenNum=bulletScreenNum+#{num} where bv=#{bv}
    </update>

    <update id="updateCommentNumByBv">
        update videos set commentNum=commentNum+#{num} where bv=#{bv}
    </update>

    <update id="updateUpvoteNumByBv">
        update videos set upvoteNum=upvoteNum+#{num} where bv=#{bv}
    </update>

    <update id="setUpvoteNumByBv">
        update videos set upvoteNum=#{upvoteNum} where bv=#{bv}
    </update>

    <update id="updateDownvoteNumByBv">
        update videos set downvoteNum=downvoteNum+#{num} where bv=#{bv}
    </update>

    <update id="setDownvoteNumByBv">
        update videos set downvoteNum=#{downvoteNum} where bv=#{bv}
    </update>

    <update id="updateCoinNumByBv">
        update videos set coinNum=coinNum+#{num} where bv=#{bv}
    </update>

    <select id="getCoinNumByBv" resultType="long">
        select coinNum from videos where bv=#{bv}
    </select>

    <update id="updateSaveNumByBv">
        update videos set saveNum=saveNum+#{num} where bv=#{bv}
    </update>

    <update id="updateShareNumByBv">
        update videos set shareNum=shareNum+#{num} where bv=#{bv}
    </update>

    <select id="getBvByPage" resultType="String">
        select bv from videos limit #{offset},#{pageSize}
    </select>

    <select id="getNewVideos" resultType="com.ausn.entity.VideoFeedStream">
        select bv,uploadTime from videos where authorId=#{authorId} and uploadTime>=#{uploadTime}
    </select>
</mapper>
