<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ausn.pilipili.dao.VideoVoteDao">
    <insert id="save">
        insert into video_votes values(#{bv},#{userId},#{vote});
    </insert>

    <delete id="delete">
        delete from video_votes where bv=#{bv} and userId=#{userId}
    </delete>

    <select id="getByBvUserId" resultType="VideoVote">
        select * from video_votes where bv=#{bv} and userId=#{userId}
    </select>


    <update id="update">
        update video_votes
        <set>
            bv=#{bv},
            userId=#{userId},
            vote=#{vote},
        </set>
        <where>
            bv=#{bv} and
            userId=#{userId}
        </where>
    </update>

    <select id="getByBv" resultType="VideoVote">
        select * from video_votes where bv=#{bv}
    </select>

</mapper>